<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h1>Swapply Intercambia Habilidades</h1>
<div class="info-box">
  <p>
    Esta aplicación permite tener conocimientos y learn nuevas skills.
  for other users. ¡Mark your preferences and start exchanging!
  </p>
</div>
<div class="info-box">
  <a routerLink="/skills">Mis habilidades</a> |
  <a routerLink="/interests">Habilidades que quiero aprender</a>
</div>
<app-cookies></app-cookies>
<router-outlet></router-outlet>